p{
    color: red;
    font-size:30px;
    align-content: center;
}

#div1{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 50px;
}

#div2{
    width: 100px;
    height: 100px;
    /*margin-left: 50px;*/
    /*margin-top: 50px;*/
}

div{
    border: 1px solid red;
}

.class1{
    font-size: 80px;
    color:blue;
    text-align: center;
    line-height: 200px;
    /*
    border 边框
     */
    border: 1px solid red;
}
.class2{
    border: 1px solid red;
    height: 20px;
    width: 20px;
}